[submodule "externals/cub"]
	path = externals/cub
	url = https://github.com/NVlabs/cub.git
[submodule "externals/moderngpu"]
	path = externals/moderngpu
	url = https://github.com/NVlabs/moderngpu.git
[submodule "docs"]
	path = docs
	url = https://github.com/gunrock/docs.git
	branch = master
[submodule "externals/rapidjson"]
	path = externals/rapidjson
	url = https://github.com/Tencent/rapidjson.git
