.tight-table td {
    white-space: normal !important;
}

.sig.sig-object.cpp {
    background: #f2f2f2 !important;
    color: #555555 !important;
    border-top: 3px solid #777777 !important;
}

.sig.sig-object.cpp .k .pre { color: #AA22FF; font-weight: bold; font-style: normal } /* Keyword */
.kt { color: #00A000; font-weight: bold } /* Keyword.Type */
.p { color: #666666 } /* Operator */
.sig.sig-object.cpp .n .pre { color: #444444; }
.sig.sig-object.cpp .sig-name.descname .n .pre { color: #0000FF; } 
.sig.sig-object.cpp .sig-prename.descclassname .n .pre {  color: #0000FF;}

/* Newlines (\a) and spaces (\20) before each parameter */
.sig-param::before {
    content: "\a\20\20\20\20\20\20\20\20\20\20\20\20\20\20\20\20";
    white-space: pre;
}

/* Newline after the last parameter (so the closing bracket is on a new line) */
dt em.sig-param:last-of-type::after {
    content: "\a";
    white-space: pre;
}

/* To have blue background of width of the block (instead of width of content) */
dl.class > dt:first-of-type {
    display: block !important;
}